<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'form1/index.css' %}" />

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="container">
      <div class="box">
        <a href="polls">
        <div class="content">
          Polls
        </div></a>
      </div>
      <div class="box">
        <a href="/form/formq">
        <div class="content">
          Form1
        </div></a>
      </div>
      <div class="box">
        <a href="admin">
        <div class="content">
          Admin
        </div></a>
      </div>
    </div>
  </body>
</html>
