.container{
  width: 80%;
  margin: auto;
  border: 1px solid black;
}
.question_div{
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
}
.left_div{
  text-align: center;
  margin-top: 4px;
  width:35%;
  height: inherit;
  display: inline-block;
}
.right-field{
  width: 55%;
  display: inline-block;
}
input{
  margin: 2%;
}
